frontend/node_modules
backend/node_modules
/node_modules
.vscode

# dependencies
frontend/node_modules

# next.js
frontend/out
/frontend/.next/

# misc
frontend/.DS_Store
.DS_Store

#db
db/data


# vercel
frontend/.vercel


# se qualcuno per sbaglio fa npm i in root
/package-lock.json
/package.json

../README 2.md

